{{template "admin" .}}

{{define "page-title"}}
    Reservations Calendar
{{end}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                reservation calendar content
            </div>
        </div>
    </div>
{{end}}
